.main_viewer {
    display: flex;
    flex-direction: column;
}

.IntroduceSlideShow .ImageGroup img {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.ImageGroup {
    height: 100vh;
    width: 100%;
}

.slide2 {
    height: 100vh;
    width: 100%;
    background-color: blue;
}

.slide3 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.slide4 {
    height: 100vh;
    width: 100%;
    background-color: gray;
}

