.main_viewer {
    display: flex;
    flex-direction: column;
}

#IntroduceSlideShow img {
    height: 100vh;
    overflow: hidden;
}


#IntroduceCourse {
    margin: 5vh 0px 0px 0px;
}

#IntroduceCourse .title {
    font-size: 40px;
    font-weight: bold;
}

#IntroduceCourse .subtitle {
    font-size: 18px;
}


header > nav {
    margin: 0px 313px 0px 313px;
}

.dump {
    width: 100%;
}

.tester {
    z-index: 9999;
    width: 1280px;
    height: 10px;
    background-color: red;
    margin: auto;
}